.loader-container {
  position: fixed;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  inset: 0;
  border-style: double;
}
.loader {
  border-style: double;
  width: 20px;
  height: 20px;
  margin-top: -40px;
  margin-left: -40px;
  position: absolute;
  top: -50%;
  left: -50%;
  border-width: 30px;
  border-radius: 99999px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
