.signup{
    background-color: #E53D47 !important;
}
.signin{
    background-color: #fee648 !important;
}
.offcanvas {
    background-color: lightgrey;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}